colorama
subprocess.run
mysql-connector-python
python-geoip
python-geoip-geolite2
python-geoip-python3
ipwhois
wheel
phonenumbers
python-nmap
netaddr
ipwhois
scapy
browser-cookie3
requests
bs4
uuid
psutil
opencv-python
